@font-face {
  font-family: "MetalVengeance";
  src: url(../Fonts/MetalVengeance/MetalVengeance.ttf) format("truetype");
  font-weight: bold;
 }
.aboutUsContainer{
  width: 100vw;
  height: 100vh;
  background: rgba(20, 20, 7, 0.5);
  position: relative;
  padding: 3% 5% 12% 5%;
}
.aboutUsHeading{
  color: #FFEB00;
  text-align: center;
  text-shadow: 7px 7px 0px #FF01D7;
  font-family: "MetalVengeance";
  font-size: 5.2rem;
}
.aboutUsPara{
  color: #FFF;
  font-family: Metal Mania;
  font-size: 2.75rem;
}
.aboutUsParaSpan{
  background: linear-gradient(90deg, #00EDF5 11.46%, #FFEB00 70.31%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Metal Mania;
  font-size: 2.75rem;
}
.horizontalLine2 {
  background-color: white;
  height: 2px;
  width: 100%;
  margin: 2rem 0;
}
.textaligncenter{
  text-align: center;
}
.paraContainer{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 1300px) {
  .aboutUsPara{
    font-size: 2.6rem;
  }
}
@media (max-width: 1200px) {
  .aboutUsPara{
    font-size: 2.45rem;
  }
}
@media (max-width: 1150px) {
  .aboutUsPara{
    font-size: 2.1rem;
  }
  .aboutUsParaSpan{
    font-size: 2.4rem;
  }
}
@media (max-width: 1000px) {
  .aboutUsHeading{
    font-size: 4.2rem;
  }
}
@media (max-width: 900px) {
  .aboutUsHeading{
    font-size: 3rem;
  }
  .aboutUsPara{
    font-size: 1.75rem;
  }
  .aboutUsParaSpan{
    font-size: 2rem;
  }
}
@media (max-width: 650px) {
  .aboutUsPara{
    font-size: 1.5rem;
  }
  .aboutUsParaSpan{
    font-size: 1.6rem;
  }
}
 