.timelineContainer{
  width: 100vw;
  height: 200vh;  
  background: rgba(20, 20, 20, 0.5);
  position: relative;
  padding: 5% 5% 12% 5%;
}
.timelineHeading{
  color: #FFEB00;
  text-align: start;
  text-shadow: 7px 7px 0px #00EDF5;
  font-family: "MetalVengeance";
  font-size: 5.2rem;
  margin-bottom: 3%;
}
.timeline{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.progressBar{
  display: flex;
  justify-content: flex-end;
  grid-area: 1 / 1 / 4 / 2; 
  position: relative;
}
.default-line{
  height: inherit;
  width: 5px;
  background-color: #00EDF5;
  margin-right: 10%;
  margin-top: 5%;
}
.draw-line{
  margin-right: 10%;
  margin-top: 5%;
  width: 5px;
  position: absolute;
  right: 0;
  background-color: #FFEB00;
  max-height: 100%;
}

#card{grid-area: 1/2/4/5;}
#card{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cards{
  width: 100%;
  height: 33.33%;
  background-color: rgba(255, 255, 255, 0.02);
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards::before,.cards > .card-border{
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 500ms;
}
.cards::before{
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}
.cards > .card-border{
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 1, 215, 0.5),
    transparent 40%
  );
  z-index: 1;
}
#card:hover .cards .card-border{
  opacity: 1;
}
.cards:hover::before{
  opacity: 1;
}
.step1{
  /* cursor: pointer; */
}
.cards > .card-content{
  background-color: rgba(23, 23, 23 , 0.6);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: inherit;
  margin: 1px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0% 4%;

}
.card-content h3{
  color: rgb(224, 66, 254);
  font-family: "MetalVengeance";
  font-size: 3rem;
}
.card-content h3 span{
  color: #FFEB00;
  font-family: "MetalVengeance";
}
.card-content p{
  font-family: Metal Mania;
  font-size: 2rem;
  color: #00EDF5;
}

@media (max-width: 1150px) {
  .timelineHeading{
    font-size: 4.2rem;
  }
}
@media (max-width: 1000px) {
  .timelineHeading{
    font-size: 3.2rem;
  }
  .card-content h3{
    font-size: 2.5rem;
  }
  .card-content p{
    font-size: 1.75rem;
  }
}
@media (max-width: 800px) {
  .card-content h3{
    font-size: 2.25rem;
  }
  .card-content p{
    font-size: 1.5rem;
  }
}
@media (max-width: 650px) {
  .card-content h3{
    font-size: 2rem;
  }
  .card-content p{
    font-size: 1.35rem;
  }
}
@media (max-width: 530px) {
  .card-content h3{
    font-size: 1.65rem;
  }
  .card-content p{
    font-size: 1.1rem;
  }
}
@media (max-height: 800px) {
  .timelineContainer{
    height: 280vh;
  }
}